* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebebeb;
  font-family: "Poppins", sans-serif;
  max-width: 1350px;
  margin: auto;
  width: 90%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 20px;
  text-align: justify;
}

ul,
ol {
  font-size: 20px;
  margin-left: 30px;
  margin-top: 10px;
}

a {
  color: #0094ff;
}

.whiteBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 35px;
  padding: 14px 20px;
}
/* -----------------------------------Header-------------------------------------------------------------- */
.avatar {
  max-width: 300px;
  width: 100%;
  height: 450px;
  /* background-image: url("./img/student2.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -20px;
  border: 1px solid black;
  border-radius: 20px;
}

.textInfo {
  gap: 26px;
  padding: 25px;
}

.textInfo li span {
  font-weight: 600;
  padding-right: 5px;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------Main-------------------------------------------------------------- */
.skills {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
  width: 100%;
}

.skills div {
  padding: 15px;
}

.other {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.other > div {
  padding: 12px;
}

.projects {
  display: flex;
  gap: 26px;
}

.projects ul {
  list-style: none;
}

.university {
  margin: 10px 0px;
  color: #0094ff;
  font-weight: 600;
}
.university + p {
  margin-bottom: 20px;
}
/* --------------------------------------------------------------------------------------------------------------- */
